ul{
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgb(0,80,0);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 5px;
 bottom: 84.2%;
 left:1px;
 margin-left: -1px;
 overflow: hidden;
}
*{
  display:  -ms-flexbox;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
  background:linear-gradient(90deg,rgb(10,0,0),rgb(10,0,0));
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;

  
}
ul .fa-facebook,ul .fa-instagram,ul .fa-github,ul .fa-twitter,ul .fa-linkedin{
color: chartreuse;
font-size: 1.6rem;
padding: 20px;
margin:20px;
}
ul button{
  padding: 10px;
  margin: 90px;
  width: 120px;
  height: 50px;
  border: 2px solid chartreuse;
  border-radius: 5px;
  background-color:rgb(0,80,0);
  display: inline-block;
}
button > a{
  text-decoration: none;
  color:chartreuse;
}
.rona h1{
  color:chartreuse;
  font-size:1.9rem;
}
.one{
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  background-color:black;
}
.one #two1{
  color: rgb(255, 255, 255);
  margin-right: 26%;
  margin-top: -4%;
}
.one #two{
  color:rgb(255,255,255);
  margin-top:0.3%;
  margin-right: 25%;
}
.one > #one{
  margin-top: 150px;
  margin-right: 61.5%;
  color: white;
}
.one h1{
  margin-top: -1%;
  margin-right: 31.5%;
  font-size: 4rem;
  color: chartreuse;
}
.one .two{
margin-top: -3%;
font-size:3.5rem;
color:white;
margin-right: 41%;
padding-top: 0.2%;
}
.one .three{
  margin-top:-4%;
  font-size: 3.5rem;
  color: white;
  margin-right: 55%;
  padding-top: 0.05px;
}
.one li{
  color:rgb(255,255,255);
  padding: 10px;
}
.one .one1 {
  margin-right: 65%;
}
.one .one2{
  margin-right: 63.7%;
}.one .one3 {
  margin-right: 65%;
  
}
.one .one4{
  margin-right: 66.4%;
}
.mucyo{
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color:black;
  border-radius: 5px;
}
.mucyo h1{
  margin-right: 62%;
  border-bottom: 6px solid green;
}
.mucyo .elie{
margin-right: 27.4%;
}
.mucyo .elie1{
  margin-right: 34.4%;
}
.mucyo .elie2{
  margin-right: 35.7%;
}
.mucyo .elie3{
  margin-right: 25.6%;
}
.mucyo .elie4{
  margin-right: 32.4%;
}
.mucyo .elie5{
  margin-right: 30%;
}
.mucyo .elie,.mucyo .elie1,.mucyo .elie2,.mucyo .elie3,.mucyo .elie4,.mucyo .elie5{
  padding-top: 0.002%;
}
.anti .pogba{
  margin-left: 140%;
  margin-top: 2%;
  border-radius:5px;
}
@media (max-width:800px){
  ul{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 47px;
width: 73%; 
  }
  ul .fa-facebook,ul .fa-instagram,ul .fa-github,ul .fa-twitter,ul .fa-linkedin{
   font-size: 15px;
   position:relative;
   bottom:37px;
   padding: 5px;
  right: 13%;
  display:inline-flex;
  justify-content: flex-start;
  }
  ul .rona h1{
    font-size: 1rem;
    padding: 20px;
    position: relative;
    right: 20%;
    bottom: 5%;
  }
  body{
    overflow-y: hidden;
  }
  ul button{
    position: relative;
    bottom: 285px;
    left: 100px;
    width: 70px;
    height: 35px;
  }
  .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .one #one{
    font-size: 10px;
   
  }
  .one h1{
    font-size: 20px;
    margin-right: 115px;
  }
  .one .two{
    font-size: 16px;
 margin-right: 115px;
   
  }
  .one .three{
    font-size: 18px;
    margin-right: 115px;
  }
  .one .three,.one .two{
    padding-top: 2px;
   
  }
  .one #two,.one #two1{
  font-size: 10.3px; 
  
  }
  .high{
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

 